<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; font-weight: bold;">
    <br><br>
    <div style="font-weight: bold; font-size: 40px">파이썬으로 끝내는 데이터 과학</div>
    <div style="font-weight: bold; font-size: 20px">[21] 프로젝트</div>
    <hr style="width:80%;text-align:left;margin-left:0;border:0.5px solid green">
    <br>
    &#x2022; 데이터를 탐색하고 필요한 데이터를 찾을 수 있다.  <br>
    &#x2022; 데이터를 분석할 수 있다. <br>
    &#x2022; 데이터를 시각화할 수 있다.<br>
</div>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>0. 프로젝트 개요</h2>
</div>

### **데이터를 통해 장사의 신이 되어보자**

코들이가 재미삼아 산 로또가 1등에 당첨되었습니다!!!!  
당첨금은 약 23억원 이었습니다.  
코들이는 이 당첨금으로는 평생 먹고 살기 어렵다는 것을 깨달았습니다.  
그래서 코들이는 당첨금으로 가게를 열어 더 많은 돈을 벌려고 합니다.  
하지만 코들이는 장사에 대해 생각해 본 적도 없고 아는 것도 없습니다.  
그러다 문득 학교 수업시간에 데이터 분석을 배운 것이 생각났습니다.  
코들이는 데이터 분석 수업을 같이 들은 여러분과 함께 어떤 가게를 하면 장사가 잘 될지 함께 고민하려 합니다.

코들이를 도와 어떤 가게를 어디에 차리면 좋을지 데이터를 분석해봅시다.

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>1. 데이터 탐색하기</h2>
</div>

데이터를 분석하는 데에 가장 중요한 것 중 하나는 적절한 데이터를 선정하는 것입니다.  
최근에는 여러 기업이나 정부기관에서 데이터를 공개하고 있기 때문에 데이터를 선정할 수 있는 폭이 넓습니다.  
특히 [공공데이터포털](https://www.data.go.kr/index.do)에서는 정부기관에서 제공하는 다양한 데이터를 사용할 수 있습니다.   
또는 [kaggle(캐글)](https://www.kaggle.com/datasets)이라는 온라인 커뮤니티에서 다양한 데이터를 활용할 수도 있습니다. 

> `read_csv()` 함수를 사용해 데이터를 읽어오고 `head()`, `trail()`, `info()` 함수등을 이용해 데이터를 관찰할 수 있습니다.
>
> 여러분이 쓸만한 데이터가 있나요??

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ 생각해보기</div>
    <br>
어떤 데이터를 분석하면 좋을까요?  <br>
여러분의 생각을 아래의 셀에 적어주세요.
</div>

 👉 
 👉

이번 프로젝트에서는 한옥체험업 자료와 한식 레스토랑 자료를 분석해보고자 합니다.  

한옥 체험업을 하는 곳은 외국인 관광객이 많을 것이고, 외국인 관광객의 특성상 한식을 먹는 것을 선호할 것입니다.   
따라서 한옥체험업을 가장 많이하면서도 주변에 한식 식당이 적은 곳에 한식 레스토랑을 차린다면 장사에 성공할 수 있을 것입니다.

In [ ]:
import pandas as pd

hanok = pd.read_csv('https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/%ED%95%9C%EC%98%A5%EC%B2%B4%ED%97%98%EC%97%85.csv')
print(hanok.info())
hanok.head(10)

In [ ]:
restaurant = pd.read_csv('https://tmn-bucket-materials-all.s3.ap-northeast-2.amazonaws.com/data/%EC%9D%BC%EB%B0%98%EC%9D%8C%EC%8B%9D%EC%A0%90_3.csv')
print(restaurant.info())
restaurant.head(10)

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>2. 데이터 분석하기</h2>
</div>

데이터를 선정한 뒤에는 아이디어에 맞게 데이터를 분석해야 합니다.   
데이터를 분석하기 위해서는 앞선 시간에서 배웠던 pandas의 여러가지 함수를 사용할 수 있습니다.

**한옥체험업 데이터**

In [ ]:
hanok = hanok[['영업상태명','도로명전체주소']]

In [ ]:
print(len(hanok))
hanok = hanok[hanok['영업상태명'] == '영업/정상']
print(len(hanok))

In [ ]:
print(len(hanok))
hanok = hanok.dropna()
print(len(hanok))

In [ ]:
hanok['행정구역'] = hanok['도로명전체주소'].apply(lambda x :' '.join(x.split()[:2]))
hanok

In [ ]:
hanok = hanok.groupby('행정구역').count()['도로명전체주소']
hanok

In [ ]:
print(hanok.idxmax(), hanok.max())

**식당 데이터**

In [ ]:
restaurant = restaurant[['영업상태명','도로명전체주소','업태구분명']]
restaurant

In [ ]:
restaurant = restaurant[restaurant['업태구분명'] == '한식']
restaurant

In [ ]:
restaurant['영업상태명'].unique()

In [ ]:
restaurant = restaurant[restaurant['영업상태명'] == '영업/정상']
restaurant

In [ ]:
restaurant = restaurant.dropna()
restaurant

In [ ]:
restaurant['행정구역'] = restaurant['도로명전체주소'].apply(lambda x :' '.join(x.split()[:2]))
restaurant

In [ ]:
restaurant = restaurant.groupby('행정구역').count()['도로명전체주소']
restaurant

In [ ]:
print(restaurant.idxmax(), restaurant.max())

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ 생각해보기</div>
    <br>
데이터에 어떠한 규칙이 보이나요?<br>
데이터를 보고 어떤 사실을 알 수 있나요?
</div>

 👉 
 👉

코들이는 다음의 정보들을 찾았습니다.  
- 한옥체험업을 하는 업체가 가장 많은 곳은 전라북도 전주시이다.
- 한식 식당이 가장 많은 곳은 충청북도 청주시이다.

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>3. 데이터 시각화</h2>
</div>

데이터를 시각화하는 것도 데이터를 분석하는데 많이 사용하는 방법입니다.  
데이터를 시각화함으로써 기존에 보이지 않던 규칙이나 패턴이 보이기도 합니다.  
또한 데이터를 시각화하면 내가 보여주고 싶은 정보를 다른 사람들에게 더욱 효과적으로 보여줄 수 있습니다.

> 데이터를 적절한 그래프로 시각화해봅시다.  
> 데이터를 시각화하기 위해서는 앞선 시간에 배웠던 matplotlib의 여러가지 함수들을 사용할 수 있습니다.

In [ ]:
new_df = pd.DataFrame()
new_df['한옥'] = hanok
new_df['식당'] = restaurant
new_df

In [ ]:
new_df = new_df.fillna(0)
new_df

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(new_df['한옥'],new_df['식당'])
plt.title('한옥 vs 식당')
plt.xlabel('한옥')
plt.ylabel('식당')
plt.grid()
plt.show()

In [ ]:
plt.scatter(new_df['한옥'],new_df['식당'])
plt.title('한옥 vs 식당')
plt.xlabel('한옥')
plt.ylabel('식당')
plt.grid()

for row in range(len(new_df)):
    row = new_df.iloc[row]
    plt.text(row['한옥'], row['식당'], row.name, size=5)

plt.show()

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ 생각해보기</div>
    <br>
시각화를 통해 새로운 패턴을 발견했나요?<br>
어떠한 정보를 다른 사람들에게 보여주고 싶나요?
</div>

 👉 
 👉

코들이는 이 프로젝트를 통해 전주시, 안동시에 식당을 차리기로 마음을 먹게 되었습니다.

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #3c763d; border-color: #d6e9c6; font-weight: bold;">
<h2 style='font-weight: bold'>4. 마무리</h2>
</div>

<div style="padding: 15px; border: 5px solid transparent; border-color: transparent; margin-bottom: 20px; border-radius: 4px; color: #8a6d3b;  border-color: #faebcc; font-weight: bold;">
    <div style="font-weight: bold; font-size: 20px">✏️ 생각해보기</div>
    <br>
이번 프로젝트를 통해 무엇을 알게되었나요??  <br>
이번 프로젝트를 진행하면서 아쉬웠던 점은 무엇인가요??  <br>
이번 프로젝트 이후에 더 탐구해보고 싶은 것이 있나요??  <br>
</div>

 👉 
 👉